header {
  background-color: $primaryColor;
  padding: 20px 0;
  .avatar {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-color: $secondaryColor;
  }
  .dropdown-toggle::after {
    display: none;
  }
}